
.input-wrapper {
    position: relative;
  }
  .datetimepicker {
    position: absolute;
    background: white;
    z-index: 1000;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 10px;
    margin-top: 2px;
  }
  .datetimepicker table {
    margin-bottom: 0;
  }
  .datetimepicker table td,th {
    text-align: center;
    padding: 0.2rem
  }
  .datetimepicker table td {
    cursor: pointer;
  }
  